<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.dao.RecruitDao">
    <insert id="addRecruit" parameterType="Recruit">
        INSERT INTO T_RECRUIT VALUES(RECRUIT_SEQ.nextval,#{recruit_company_name},#{recruit_company_post},#{recruit_region},#{recruit_salary},#{recruit_demand},#{recruit_post_info},#{recruit_contact})
    </insert>
    <delete id="deleteRecruit" parameterType="Recruit">
        DELETE FROM T_RECRUIT WHERE USER_ID=#{recruit_id}
    </delete>
    <update id="updateRecruit" parameterType="Recruit">
        UPDATE T_RECRUIT SET RECRUIT_COMPANY_NAME=#{recruit_company_name},RECRUIT_COMPANY_POST=#{recruit_company_post},
        RECRUIT_REGION=#{recruit_region},RECRUIT_SALARY=#{recruit_salary},RECRUIT_DEMAND=#{recruit_demand},
        RECRUIT_POST_INFO=#{recruit_post_info},RECRUIT_CONTACT=#{recruit_contact} WHERE RECRUIT_ID=#{recruit_id}
    </update>
    <select id="getAllRecruit" resultType="com.orange.model.Recruit">
        SELECT * FROM T_RECRUIT
    </select>
    <select id="getRecruitById" parameterType="integer" resultType="com.orange.model.Recruit">
        SELECT * FROM T_RECRUIT WHERE RECRUIT_ID=#{0}
    </select>
    <select id="getRecruitByPage" resultType="com.orange.model.Recruit" parameterType="integer">
        SELECT * FROM(SELECT rownum rn,T_RECRUIT.* FROM T_RECRUIT WHERE rownum&lt;=${currentPage*4})a WHERE a.rn>${(currentPage-1)*4}
    </select>
</mapper>